.navbar {
  background-color: #2a8ea8;
  padding: 5px 0;
  max-height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dropdown {
  color: #fff;
}

.logo {
  font-family: "Didot";
  margin: auto 15px;
}
