<div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="form-layout">
            <div class="logo mb-3">
              <div class="col-md-12 text-center">
                <h1><img class="logo" src="../../../assets/6f60ec28-cf1b-45d5-8954-119107fd5b81_200x200.png"></h1>
              </div>
            </div>
            <app-register-form></app-register-form>
          </div>
        </div>
      </div>
    </div>
  </div>