<app-form-template [itemTemplate]="registerFormTemplate"></app-form-template>
<ng-template #registerFormTemplate>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" [appMustMatch]="['password', 'confirmPassword']"
    novalidate>
    <div class="form-group">
      <label>E-mail address<span class="mandatory"> *</span></label>
      <input type="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" class="form-control"
        placeholder="Enter your e-mail" [(ngModel)]="userData.email" />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">E-mail is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
      </div>
    </div>
    <div class="form-group">
      <label>Password<span class="mandatory"> *</span></label>
      <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
        name="password" class="form-control" placeholder="Enter your password" [(ngModel)]="userData.password"
        minlength="6" required />
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
        <small class="text-danger" *ngIf="password.errors.minlength">Password must be at least 6 characters long</small>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm your password<span class="mandatory"> *</span></label>
      <input type="password" name="confirmPassword" #confirmPassword="ngModel"
        [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" required class="form-control"
        placeholder="Enter your password again" [(ngModel)]="model.password" />
      <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
        class="invalid-feedback">
        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
    <div class="form-group">
      <label>First name</label>
      <input type="text" #firstName="ngModel" name="firstName" class="form-control" placeholder="Enter your first name"
        [(ngModel)]="userData.firstName" />
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" #lastName="ngModel" name="lastName" class="form-control" placeholder="Enter your last name"
        [(ngModel)]="userData.lastName" />
    </div>
    <div class="col-md-12 text-center ">
      <button type="submit" class="btn register-form-btn btn-register">Register</button>
    </div>
  </form>
</ng-template>
